*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--Pink: hsl(322, 100%, 66%);
	--Very-Pale-Cyan: hsl(193, 100%, 96%);
	--Very-Dark-Cyan: hsl(192, 100%, 9%);
	--Grayish-Blue: hsl(208, 11%, 55%);
	--white: hsl(0, 0%, 100%);
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	/* font-size: 18px; */
}

img {
	max-width: 100%;
	display: block;
}

h2,
h3 {
	font-family: 'Poppins', sans-serif;
	color: var(--Very-Dark-Cyan);
}

p {
	line-height: 1.5;
}
section p {
	color: var(--Grayish-Blue);
}

a {
	text-decoration: none;
	color: var(--Very-Dark-Cyan);
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

/*
    Buttons
*/

.btn {
	padding: 0.8em 3.5em;
	display: inline-block;
	font-size: 0.8rem;
}

.btn-ctn {
	font-size: 0.9rem;
	font-weight: 700;
	background: var(--white);
	padding: 0.4em 1em;
	border-radius: 100vh;
	box-shadow: 5px 1px 12px 2px rgba(0, 0, 0, 0.06);
}

.btn-primary {
	color: var(--white);
	background: var(--Pink);
	border-radius: 100vh;
	font-size: 0.9rem;
	margin: 1em 0;
}

.btn:hover,
.btn:focus,
.btn-ctn:hover,
.btn-ctn:focus {
	opacity: 0.8;
}
/*
    Layout
*/

.container {
	max-width: 375px;
	width: 90%;
	margin: 0 auto;
}

/* general layout */

section img,
.hero-info-img {
	margin: 2em 0;
}

header,
section {
	padding: 1.8em 0;
}

.grow,
.flow,
.users {
	padding: 2em;
	border-radius: 10px;
	box-shadow: 5px 1px 40px -20px rgba(0, 0, 0, 0.27);
}

.main-flex {
	display: flex;
	flex-direction: column;
	text-align: center;
}

header {
	background: url(../images/bg-hero-mobile.svg), var(--Very-Pale-Cyan);
}

/* navbar */

.logo-img {
	width: 120px;
	display: inline;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3em;
}

/* 
    hero
*/

.hero-title {
	max-width: 20ch;
	margin-left: auto;
	margin-right: auto;
}

.hero-subtitle {
	max-width: 33ch;
	margin-left: auto;
	margin-right: auto;
}

.flow-info-img,
.grow-info-img,
.users-info-img {
	order: -1;
}

/* 
	section-1
*/

.section-one {
	margin-top: 1em;
}

/* 
	section three
*/
.section-three {
	margin-bottom: 8em;
}

/* 
	section four
*/

.section-four .container {
	position: relative;
}

.ready {
	position: absolute;
	top: -80px;
	right: 0;
	left: 0;
	padding: 1em;
	max-width: 500px;
	margin: auto;
	background: var(--white);
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 1px 35px -20px rgba(0, 0, 0, 0.27);
}

/* 
    footer
*/

footer {
	padding: 8em 0 3em;
	background: var(--Very-Dark-Cyan);
	color: var(--Very-Pale-Cyan);
}

footer a {
	color: var(--white);
}

footer li a:hover,
footer li a:focus {
	text-decoration: underline;
}
/* footer logo */
.footer-logo {
	max-width: 150px;
}

.cols {
	display: flex;
	gap: 1em;
	align-items: center;
}

.phone {
	margin: -10px 0;
}

.cols-info {
	max-width: 32ch;
}

/* links */
.col-2 li,
.col-3 li {
	margin: 1em 0;
}

/* col-4 */

.col-4 {
	margin: 4em 0 1.5em;
	text-align: center;
}

.col-4 a {
	margin: 0 0.3em;
}

/* icons */
.fab {
	padding: 0.5em;
	border: 1px solid var(--white);
	border-radius: 100vh;
}

.fab:hover,
.fab:focus {
	color: var(--Pink);
	border-color: var(--Pink);
}

.footer-text {
	text-align: center;
	font-size: 0.8rem;
}

/* media query */
@media (min-width: 650px) {
	.container {
		max-width: 1440px;
	}
	.main-flex {
		flex-direction: row;
		align-items: center;
		gap: 2em;
		text-align: left;
	}

	.main-flex > * {
		width: 100%;
	}

	.hero-title {
		max-width: 20ch;
		margin-left: 0;
		font-size: 2rem;
	}

	.hero-subtitle {
		margin-left: 0;
		max-width: 50ch;
	}

	/* section 3 */

	.grow-info-img,
	.users-info-img {
		order: 0;
	}
	.grow-subtitle,
	.flow-subtitle,
	.users-subtitle {
		max-width: 50ch;
	}

	/* footer  */

	.footer-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.col-4 {
		align-self: start;
	}

	.footer-text {
		text-align: right;
	}

	.footer-logo {
		max-width: 200px;
		margin-bottom: 1em;
	}

	.cols-info {
		max-width: 40ch;
	}
}
